.btn-success {
    background-color: #29CA8E;
}

.marginTop {
    margin-top: 10px;
}

.form-control {
    border-radius: 16px;
}

.code {
    margin-top: 6px;
}

.a {
    font-size: 28px;
}

.courseCircle{
    width: 100%;
}

.information li {
    margin: 0 10px;
}

.exit {
    padding-top: 24px;
    font-size: 16px;
    color: k;
}

.information {
    position: relative;
    left: 50px;
}

.informationDisplay ul {

    margin: 8px 0 0 8px;
    padding: 0px;
    list-style: none;
    float: left;
    color: #575757;
}

.navbar-brand {
    position: relative;
    top: -14px;
}

button {
    transition: all 0.2s ease 0s;
    background-color: #29CA8E;

    border: none;

    color: white;

    padding: 15px 32px;

    text-align: center;

    text-decoration: none;

    display: inline-block;

    font-size: 16px;

    margin: 4px 2px;

    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}

