
.btn-success {
    background-color: red;
}

.marginTop {
    margin-top: 10px;
}

.form-control {
    border-radius: 16px;
}

.code {
    margin-top: 6px;
}

.information li {
    margin: 0 10px;
}

.exit {
    padding-top: 24px;
    font-size: 16px;
    color: red;
}

.information {
    position: relative;
    left: 50px;
}

.informationDisplay ul {

    margin: 8px 0 0 8px;
    padding: 0px;
    list-style: none;
    float: left;
    color: #575757;
}

.navbar-brand {
}

button {
    transition: all 0.2s ease 0s;
    background-color: #f24b28;

    border: none;

    color: white;

    padding: 10px 26px;

    text-align: center;

    text-decoration: none;

    display: inline-block;

    font-size: 16px;

    margin: 4px 2px;

    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}

.my-pic {
    text-align: center;
}

/*.img-responsive,*/
/*.thumbnail > img,*/
/*.thumbnail a > img,*/
/*.carousel-inner > .item > img,*/
/*.carousel-inner > .item > a > img {*/
/*    display: block;*/
/*    max-width: 100%;*/
/*    height: auto;*/
/*}*/

/*.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {*/
/*    display: block;*/
/*    max-width: 100%;*/
/*    height: auto*/
/*}*/

/*@media (min-width: 992px) {*/
/*    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {*/
/*        float: left*/
/*    }*/
/*}*/

/*.col-md-4 {*/
/*    width: 33.33333333%*/
/*}*/

/*.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {*/
/*    position: relative;*/
/*    min-height: 1px;*/
/*    padding-right: 15px;*/
/*    padding-left: 15px*/
/*}*/

/*.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {*/
/*    position: relative;*/
/*    min-height: 1px;*/
/*    padding-right: 15px;*/
/*    padding-left: 15px*/
/*}*/

/*@media (min-width: 768px) {*/
/*    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {*/
/*        float: left*/
/*    }*/
/*}*/

/*.col-sm-4 {*/
/*    width: 33.33333333%*/
/*}*/





