/*@import url(http://fonts.useso.com/css?family=Raleway:200,500,700,800);*/

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.content {
    margin: 50px 0px 0px 80px;
    float: left;
    width: 60%;
}

.courseImg {
    float: left;
}

.otherCourse {
    margin-top: 50px;
    margin-left: 80px;
    float: left;
    width: 24%;
    background-color: #f2f2f2;
    border: 1px solid #eeeeee;
}

.otherCourse > h3 {
    margin-top: 0px;
    text-align: center;
}

.courseInfo {
    float: left;
    margin-left: 10px;
}

.courseInfo li {
    margin-top: 10px;
    height: 28px;
}

.filterinput {
    background-color: rgba(249, 244, 244, 0);
    border-radius: 15px;
    width: 90%;
    height: 30px;
    border: thin solid #FFF;
    text-indent: 0.5em;
    font-weight: bold;
    color: #FFF;
}

.recommendCourse > li {
    margin-top: 20px;
    border-bottom: 1px solid #c1c1c1;
    border-top: 1px solid #c1c1c1;
    overflow: hidden;
}


#demo-list a {
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}


body, html {
    font-size: 100%;
    padding: 0;
    margin: 0;
}

/* Reset */
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

body {
    background: #494A5F;
    color: #D5D6E2;
    font-weight: 500;
    font-size: 1.05em;
    font-family: "Microsoft YaHei", "宋体", "Segoe UI", "Lucida Grande", Helvetica, Arial, sans-serif, FreeSans, Arimo;
}

a {
    color: #2fa0ec;
    text-decoration: none;
    outline: none;
}

a:hover, a:focus {
    color: #74777b;
}

.zzsc-container {
    margin: 80px auto;
    overflow: hidden;
}

.bgcolor-1 {
    background: #f0efee;
}

.bgcolor-2 {
    background: #f9f9f9;
}

.bgcolor-3 {
    background: #e8e8e8;
}

/*light grey*/
.bgcolor-4 {
    background: #2f3238;
    color: #fff;
}

/*Dark grey*/
.bgcolor-5 {
    background: #5bdf1a;
    color: #521e18;
}

/*pink1*/
.bgcolor-6 {
    background: #2fa8ec;
}

/*sky blue*/
.bgcolor-7 {
    background: #d0d6d6;
}

/*White tea*/
.bgcolor-8 {
    background: #3d4444;
    color: #fff;
}

/*Dark grey2*/
.bgcolor-9 {
    background: #87ef0a;
    color: #fff;
}

/*pink2*/
.bgcolor-10 {
    background: #64448f;
    color: #fff;
}

/*Violet*/
.bgcolor-11 {
    background: #3755ad;
    color: #fff;
}

/*dark blue*/
.bgcolor-12 {
    background: #3498DB;
    color: #fff;
}

/*light blue*/
.bgcolor-20 {
    background: #494A5F;
    color: #D5D6E2;
}

/* Header */
.zzsc-header {
    padding: 1em 190px 1em;
    letter-spacing: -1px;
    text-align: center;
    background: #66677c;
}

.zzsc-header h1 {
    color: #D5D6E2;
    font-weight: 600;
    font-size: 2em;
    line-height: 1;
    margin-bottom: 0;
    font-family: "Microsoft YaHei", "宋体", "Segoe UI", "Lucida Grande", Helvetica, Arial, sans-serif, FreeSans, Arimo;
}

.zzsc-header h1 span {
    font-family: "Microsoft YaHei", "宋体", "Segoe UI", "Lucida Grande", Helvetica, Arial, sans-serif, FreeSans, Arimo;
    display: block;
    font-size: 60%;
    font-weight: 400;
    padding: 0.8em 0 0.5em 0;
    color: #c3c8cd;
}

/*nav*/
.zzsc-demo a {
    color: #fff;
    text-decoration: none;
}

.zzsc-demo {
    width: 100%;
    padding-bottom: 1.2em;
}

.zzsc-demo a {
    display: inline-block;
    margin: 0.5em;
    padding: 0.6em 1em;
    border: 3px solid #fff;
    font-weight: 700;
}

.zzsc-demo a:hover {
    opacity: 0.6;
}

.zzsc-demo a.current {
    background: #1d7db1;
    color: #fff;
}

/* Top Navigation Style */
.zzsc-links {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    font-size: 1.5em;
    text-align: center;
}

.zzsc-links::after {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #dbdbdb;
    content: '';
    -webkit-transform: rotate3d(0, 0, 1, 22.5deg);
    transform: rotate3d(0, 0, 1, 22.5deg);
}

.zzsc-icon {
    display: inline-block;
    margin: 0.5em;
    padding: 0em 0;
    width: 1.5em;
    text-decoration: none;
}

.zzsc-icon span {
    display: none;
}

.zzsc-icon:before {
    margin: 0 5px;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: 'icomoon';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
}

/* footer */
.zzsc-footer {
    width: 100%;
    padding-top: 10px;
}

.zzsc-small {
    font-size: 0.8em;
}

.center {
    text-align: center;
}

/****/
.related {
    width: 100%;
    float: left;
    color: #fff;
    background: #494A5F;
    text-align: center;
    font-size: 1.25em;
    padding: 0.5em 0;
    overflow: hidden;
}

.related > a {
    vertical-align: top;
    width: calc(100% - 20px);
    max-width: 340px;
    display: inline-block;
    text-align: center;
    margin: 20px 10px;
    padding: 25px;
    font-family: "Microsoft YaHei", "宋体", "Segoe UI", "Lucida Grande", Helvetica, Arial, sans-serif, FreeSans, Arimo;
}

.related a {
    display: inline-block;
    text-align: left;
    margin: 20px auto;
    padding: 10px 20px;
    opacity: 0.8;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-backface-visibility: hidden;
}

.related a:hover,
.related a:active {
    opacity: 1;
}

.related a img {
    max-width: 100%;
    opacity: 0.8;
    border-radius: 4px;
}

.related a:hover img,
.related a:active img {
    opacity: 1;
}

.related h3 {
    font-family: "Microsoft YaHei", sans-serif;
}

.related a h3 {
    font-weight: 300;
    margin-top: 0.15em;
    color: #fff;
}

/* icomoon */
.icon-zzsc-home-outline:before {
    content: "\e5000";
}

.icon-zzsc-arrow-forward-outline:before {
    content: "\e5001";
}

@media screen and (max-width: 50em) {
    .zzsc-header {
        padding: 3em 10% 4em;
    }

    .zzsc-header h1 {
        font-size: 2em;
    }
}


@media screen and (max-width: 40em) {
    .zzsc-header h1 {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 30em) {
    .zzsc-header h1 {
        font-size: 1.2em;
    }
}