<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/owl.carousel.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/owl.theme.default.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/templatemo-style.css}"/>
    <title>迭代器示例</title>
</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

<!-- PRE LOADER -->
<section class="preloader">
    <div class="spinner">

        <span class="spinner-rotate"></span>
    </div>
</section>


<!-- MENU -->
<section class="navbar custom-navbar navbar-fixed-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>

            <!-- lOGO TEXT HERE -->
            <a href="#" class="navbar-brand"><img th:src="@{/static/images/png/logoko.png}" width="80px" alt=""></a>
        </div>

        <!-- MENU LINKS -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-nav-first">
                <li><a href="#top" class="smoothScroll">Home</a></li>
                <li><a href="#about" class="smoothScroll">About</a></li>
                <li><a href="#team" class="smoothScroll">Our Teachers</a></li>
                <li><a href="#courses" class="smoothScroll">Courses</a></li>
                <li><a href="#testimonial" class="smoothScroll">Reviews</a></li>
                <li><a href="#contact" class="smoothScroll">Contact</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right information">
                <li class="loginAndReg" th:if="${session.user}==null">
                    <!--                <li class="loginAndReg">-->
                    <button id="loginAndReg" class="btn btn-success marginTop btn-lg" data-toggle="modal"
                            data-target="#login">注册/登录
                    </button>
                </li>
                <li id="cover" th:if="${session.user}!=null"><a th:href="@{/userInfo}"><img
                        th:src="|/pic/avatar/${session.user.avatar}|"
                        class="img-circle avatar"
                        width="38px" height="38px"></a>
                </li>
            </ul>
        </div>
    </div>
</section>


<!-- HOME -->
<section id="home">
    <div class="row">

        <div class="owl-carousel owl-theme home-slider">
            <div class="item item-first">
                <div class="caption">
                    <div class="container">
                        <div class="col-md-6 col-sm-12">
                            <h1>Distance Learning Education Center</h1>
                            <h3>Our online courses are designed to fit in your industry supporting all-round with latest
                                technologies.</h3>
                            <a href="#feature" class="section-btn btn btn-default smoothScroll">Discover more</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item item-second">
                <div class="caption">
                    <div class="container">
                        <div class="col-md-6 col-sm-12">
                            <h1>Start your journey with our practical courses</h1>
                            <h3>Our online courses are built in partnership with technology leaders and are designed to
                                meet industry demands.</h3>
                            <a href="#courses" class="section-btn btn btn-default smoothScroll">Take a course</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item item-third">
                <div class="caption">
                    <div class="container">
                        <div class="col-md-6 col-sm-12">
                            <h1>Efficient Learning Methods</h1>
                            <h3>Nam eget sapien vel nibh euismod vulputate in vel nibh. Quisque eu ex eu urna venenatis
                                sollicitudin ut at libero. Visit <a href="#" target="_parent">templatemo</a> page.</h3>
                            <a href="#contact" class="section-btn btn btn-default smoothScroll">Let's chat</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- FEATURE -->
<section id="feature">
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-4">
                <div class="feature-thumb">
                    <span>01</span>
                    <h3>Trending Courses</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing eiusmod tempor incididunt ut labore et dolore
                        magna.</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="feature-thumb">
                    <span>02</span>
                    <h3>Books & Library</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing eiusmod tempor incididunt ut labore et dolore
                        magna.</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="feature-thumb">
                    <span>03</span>
                    <h3>Certified Teachers</h3>
                    <p>templatemo delivers a wide variety of HTML5 templates for you at absolutely no charge. Please
                        tell your friends.</p>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- ABOUT -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="about-info">
                    <h2>Start your journey to a better life with online practical courses</h2>

                    <figure>
                        <span><i class="fa fa-users"></i></span>
                        <figcaption>
                            <h3>Professional Trainers</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsa voluptatibus.</p>
                        </figcaption>
                    </figure>

                    <figure>
                        <span><i class="fa fa-certificate"></i></span>
                        <figcaption>
                            <h3>International Certifications</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsa voluptatibus.</p>
                        </figcaption>
                    </figure>

                    <figure>
                        <span><i class="fa fa-bar-chart-o"></i></span>
                        <figcaption>
                            <h3>Free for 3 months</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsa voluptatibus.</p>
                        </figcaption>
                    </figure>
                </div>
            </div>

            <div class="col-md-offset-1 col-md-4 col-sm-12">
                <div class="entry-form">
                    <h2>Information</h2>
                    <div class="text-center" th:if="${session.user!=null}">
                        <!--                        <img th:src="@{/static/images/author-image3.jpg}" class="img-circle avatar"-->
                        <!--                                                  width="60px">-->
                        <img th:src="|/pic/avatar/${session.user.avatar}|" alt="" width="60px" height="60px"
                             class="img-circle avatar"
                             id="avatar">
                    </div>
                    <div th:if="${session.user!=null}">
                        <input id="fullName" type="text" name="full_name" class="form-control"
                               placeholder="Full name"
                               required=""
                               readonly="readonly" th:value="${session.user.username}">
                        <input id="user_email" type="email" name="email" class="form-control"
                               placeholder="Your email address"
                               required="" readonly th:value="${session.user.email}">
                        <a th:href="@{/userInfo(userId=${session.user.id})}">
                            <button class="submit-btn form-control" id="form-submit-info" th:name="${session.user.id}">
                                go
                                info
                            </button>
                        </a>
                    </div>
                    <div th:if="${session.user==null}">
                        <input type="text" name="full_name" class="form-control"
                               placeholder="Full name"
                               required=""
                               readonly="readonly">
                        <input type="email" name="email" class="form-control"
                               placeholder="Your email address"
                               required="" readonly>
                        <button class="submit-btn form-control">go
                            info
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- TEAM -->
<section id="team">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>Teachers
                        <small>Meet Professional Trainers</small>
                    </h2>
                </div>
            </div>

            <div class="col-md-3 col-sm-6" th:each="teacher:${teachers}">
                <div class="team-thumb">
                    <a href="">
                        <div class="team-image">
                            <img th:src="|/pic/avatar/${teacher.avatar}|" class="img-responsive" alt="">
                        </div>
                        <div class="team-info">
                            <h3 th:text="${teacher.tname}">Mark Wilson</h3>
                            <span th:text="${teacher.introduction}">I love Teaching</span>
                        </div>
                    </a>
                    <ul class="social-icon">
                        <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-instagram"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Courses -->
<section id="courses">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <a th:href="@{/meant(id=0)}">
                        <button id="AllCourses"><span>全部课程</span></button>
                    </a>
                    <h2>Popular Courses
                        <small>Upgrade your skills with newest courses</small>
                    </h2>
                </div>

                <!--/*@thymesVar id="courses" type="java.util.List"*/-->
                <!--/*@thymesVar id="course" type="entity.Course"*/-->
                <div class="owl-carousel owl-theme owl-courses">
                    <div class="col-md-4 col-sm-4" th:each="course:${courses}">
                        <div class="item">
                            <div class="courses-thumb">

                                <div class="courses-top">
                                    <div class="courses-image">
                                        <!--                                        <img th:src="@{/static/images/courses-image1.jpg}" class="img-responsive" alt="">-->
                                        <img th:src="|/pic/course/${course.courseDirection.courseDirection}/${course.pic}|"
                                             class="img-responsive" alt="">
                                    </div>
                                    <div class="courses-date">
                                        <span><i class="fa fa-calendar"><span
                                                th:text="${course.start_time}"> 12 / 7 / 2018</span></i></span>
                                        <span>   <i class="fa fa-clock-o"><span
                                                th:text="|${course.time} Hours|"> 7 Hours</span></i></span>
                                        <span>  <i class="fa fa-heart-o"><span
                                                th:text="${course.focus}"> 66</span></i></span>
                                    </div>
                                </div>

                                <div class="courses-detail">
                                    <h3 th:switch="${course.isfress}">
                                        <a th:href="@{/displayCourse(id=${course.id})}" th:case="0"
                                           th:text="${course.cname}">Social
                                            Media Management</a>
                                        <a href="#" th:case="1" th:text="${course.cname}">Social Media Management</a>
                                    </h3>
                                    <p th:text="${course.introduction}">Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit.</p>
                                </div>

                                <div class="courses-info" th:switch="${course.isfress}">
                                    <div class="courses-author">
                                        <img th:src="|/pic/avatar/${course.teacher.avatar}|" class="img-responsive"
                                             alt="">
                                        <span th:text="${course.teacher.tname}">Mark Wilson</span>
                                    </div>

                                    <div class="courses-price" th:case="1">
                                        <a href="#"><span th:text="'USD '+${course.price}">USD 25</span></a>
                                    </div>

                                    <div class="courses-price free" th:case="0">
                                        <a th:href="@{/displayCourse(id=${course.id})}"><span>Free</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--                <div class="owl-carousel owl-theme owl-courses">-->

                    <!--                    <div class="col-md-4 col-sm-4">-->
                    <!--                        <div class="item">-->
                    <!--                            <div class="courses-thumb">-->
                    <!--                                <div class="courses-top">-->
                    <!--                                    <div class="courses-image">-->
                    <!--                                        <img th:src="@{/static/images/courses-image1.jpg}" class="img-responsive"-->
                    <!--                                             alt="">-->
                    <!--                                    </div>-->
                    <!--                                    <div class="courses-date">-->
                    <!--                                        <span><i class="fa fa-calendar"></i> 20 / 7 / 2018</span>-->
                    <!--                                        <span><i class="fa fa-clock-o"></i> 4.5 Hours</span>-->
                    <!--                                    </div>-->
                    <!--                                </div>-->

                    <!--                                <div class="courses-detail">-->
                    <!--                                    <h3><a href="#">Graphic & Web Design</a></h3>-->
                    <!--                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                    <!--                                </div>-->

                    <!--                                <div class="courses-info">-->
                    <!--                                    <div class="courses-author">-->
                    <!--                                        <img th:src="@{/static/images/author-image2.jpg}" class="img-responsive" alt="">-->
                    <!--                                        <span>Jessica</span>-->
                    <!--                                    </div>-->
                    <!--                                    <div class="courses-price">-->
                    <!--                                        <a href="#"><span>USD 80</span></a>-->
                    <!--                                    </div>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                    <!--                    <div class="col-md-4 col-sm-4">-->
                    <!--                        <div class="item">-->
                    <!--                            <div class="courses-thumb">-->
                    <!--                                <div class="courses-top">-->
                    <!--                                    <div class="courses-image">-->
                    <!--                                        <img th:src="@{/static/images/courses-image2.jpg}" class="img-responsive"-->
                    <!--                                             alt="">-->
                    <!--                                    </div>-->
                    <!--                                    <div class="courses-date">-->
                    <!--                                        <span><i class="fa fa-calendar"></i> 20 / 7 / 2018</span>-->
                    <!--                                        <span><i class="fa fa-clock-o"></i> 4.5 Hours</span>-->
                    <!--                                    </div>-->
                    <!--                                </div>-->

                    <!--                                <div class="courses-detail">-->
                    <!--                                    <h3><a href="#">Graphic & Web Design</a></h3>-->
                    <!--                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                    <!--                                </div>-->

                    <!--                                <div class="courses-info">-->
                    <!--                                    <div class="courses-author">-->
                    <!--                                        <img th:src="@{/static/images/author-image2.jpg}" class="img-responsive" alt="">-->
                    <!--                                        <span>Jessica</span>-->
                    <!--                                    </div>-->
                    <!--                                    <div class="courses-price">-->
                    <!--                                        <a href="#"><span>USD 80</span></a>-->
                    <!--                                    </div>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                    <!--                    <div class="col-md-4 col-sm-4">-->
                    <!--                        <div class="item">-->
                    <!--                            <div class="courses-thumb">-->
                    <!--                                <div class="courses-top">-->
                    <!--                                    <div class="courses-image">-->
                    <!--                                        <img th:src="@{/static/images/courses-image3.jpg}" class="img-responsive"-->
                    <!--                                             alt="">-->
                    <!--                                    </div>-->
                    <!--                                    <div class="courses-date">-->
                    <!--                                        <span><i class="fa fa-calendar"></i> 15 / 8 / 2018</span>-->
                    <!--                                        <span><i class="fa fa-clock-o"></i> 6 Hours</span>-->
                    <!--                                    </div>-->
                    <!--                                </div>-->

                    <!--                                <div class="courses-detail">-->
                    <!--                                    <h3><a href="#">Marketing Communication</a></h3>-->
                    <!--                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                    <!--                                </div>-->

                    <!--                                <div class="courses-info">-->
                    <!--                                    <div class="courses-author">-->
                    <!--                                        <img th:src="@{/static/images/author-image3.jpg}" class="img-responsive" alt="">-->
                    <!--                                        <span>Catherine</span>-->
                    <!--                                    </div>-->
                    <!--                                    <div class="courses-price free">-->
                    <!--                                        <a href="#"><span>Free</span></a>-->
                    <!--                                    </div>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                    <!--                    <div class="col-md-4 col-sm-4">-->
                    <!--                        <div class="item">-->
                    <!--                            <div class="courses-thumb">-->
                    <!--                                <div class="courses-top">-->
                    <!--                                    <div class="courses-image">-->
                    <!--                                        <img th:src="@{/static/images/courses-image4.jpg}" class="img-responsive"-->
                    <!--                                             alt="">-->
                    <!--                                    </div>-->
                    <!--                                    <div class="courses-date">-->
                    <!--                                        <span><i class="fa fa-calendar"></i> 10 / 8 / 2018</span>-->
                    <!--                                        <span><i class="fa fa-clock-o"></i> 8 Hours</span>-->
                    <!--                                    </div>-->
                    <!--                                </div>-->

                    <!--                                <div class="courses-detail">-->
                    <!--                                    <h3><a href="#">Summer Kids</a></h3>-->
                    <!--                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                    <!--                                </div>-->

                    <!--                                <div class="courses-info">-->
                    <!--                                    <div class="courses-author">-->
                    <!--                                        <img th:src="@{/static/images/author-image1.jpg}" class="img-responsive" alt="">-->
                    <!--                                        <span>Mark Wilson</span>-->
                    <!--                                    </div>-->
                    <!--                                    <div class="courses-price">-->
                    <!--                                        <a href="#"><span>USD 45</span></a>-->
                    <!--                                    </div>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                    <!--                    <div class="col-md-4 col-sm-4">-->
                    <!--                        <div class="item">-->
                    <!--                            <div class="courses-thumb">-->
                    <!--                                <div class="courses-top">-->
                    <!--                                    <div class="courses-image">-->
                    <!--                                        <img th:src="@{/static/images/courses-image5.jpg}" class="img-responsive"-->
                    <!--                                             alt="">-->
                    <!--                                    </div>-->
                    <!--                                    <div class="courses-date">-->
                    <!--                                        <span><i class="fa fa-calendar"></i> 5 / 10 / 2018</span>-->
                    <!--                                        <span><i class="fa fa-clock-o"></i> 10 Hours</span>-->
                    <!--                                    </div>-->
                    <!--                                </div>-->

                    <!--                                <div class="courses-detail">-->
                    <!--                                    <h3><a href="#">Business &amp; Management</a></h3>-->
                    <!--                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                    <!--                                </div>-->

                    <!--                                <div class="courses-info">-->
                    <!--                                    <div class="courses-author">-->
                    <!--                                        <img th:src="@{/static/images/author-image2.jpg}" class="img-responsive" alt="">-->
                    <!--                                        <span>Jessica</span>-->
                    <!--                                    </div>-->
                    <!--                                    <div class="courses-price free">-->
                    <!--                                        <a href="#"><span>Free</span></a>-->
                    <!--                                    </div>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</section>


<!-- TESTIMONIAL -->
<section id="testimonial">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>Student Reviews
                        <small>from around the world</small>
                    </h2>
                </div>

                <div class="owl-carousel owl-theme owl-client">
                    <div class="col-md-4 col-sm-4">
                        <div class="item">
                            <div class="tst-image">
                                <img th:src="@{/static/images/tst-image1.jpg}" class="img-responsive" alt="">
                            </div>
                            <div class="tst-author">
                                <h4>Jackson</h4>
                                <span>Shopify Developer</span>
                            </div>
                            <p>You really do help young creative minds to get quality education and professional job
                                search assistance. I’d recommend it to everyone!</p>
                            <div class="tst-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="item">
                            <div class="tst-image">
                                <img th:src="@{/static/images/tst-image2.jpg}" class="img-responsive" alt="">
                            </div>
                            <div class="tst-author">
                                <h4>Camila</h4>
                                <span>Marketing Manager</span>
                            </div>
                            <p>Trying something new is exciting! Thanks for the amazing law course and the great teacher
                                who was able to make it interesting.</p>
                            <div class="tst-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="item">
                            <div class="tst-image">
                                <img th:src="@{/static/images/tst-image3.jpg}" class="img-responsive" alt="">
                            </div>
                            <div class="tst-author">
                                <h4>Barbie</h4>
                                <span>Art Director</span>
                            </div>
                            <p>Donec erat libero, blandit vitae arcu eu, lacinia placerat justo. Sed sollicitudin quis
                                felis vitae hendrerit.</p>
                            <div class="tst-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="item">
                            <div class="tst-image">
                                <img th:src="@{/static/images/tst-image4.jpg}" class="img-responsive" alt="">
                            </div>
                            <div class="tst-author">
                                <h4>Andrio</h4>
                                <span>Web Developer</span>
                            </div>
                            <p>Nam eget mi eu ante faucibus viverra nec sed magna. Vivamus viverra sapien ex, elementum
                                varius ex sagittis vel.</p>
                            <div class="tst-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- CONTACT -->
<section id="contact">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-12">
                <form id="contact-form" role="form" action="mailto:1045112166@qq.com" method="post">
                    <div class="section-title">
                        <h2>Contact us
                            <small>we love conversations. let us talk!</small>
                        </h2>
                    </div>

                    <div class="col-md-12 col-sm-12">
                        <input type="text" class="form-control" placeholder="Enter full name" name="name" required="">

                        <input type="email" class="form-control" placeholder="Enter email address" name="email"
                               required="">

                        <textarea class="form-control" rows="6" placeholder="Tell us about your message" name="message"
                                  required></textarea>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <input type="submit" class="form-control" name="send message" value="Send Message">
                    </div>

                </form>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="contact-image">
                    <img th:src="@{/static/images/contact-image.jpg}" class="img-responsive" alt="Smiling Two Girls">
                </div>
            </div>
        </div>
    </div>
</section>


<!-- 注册登录模块框 -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">
                    <div role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#room" aria-controls="login" role="tab" data-toggle="tab" id="log">登录</a>
                            </li>
                            <li role="presentation">
                                <a href="#tab" aria-controls="register" role="tab" data-toggle="tab" id="reg">注册</a>
                            </li>
                        </ul>
                    </div>
                </h4>
            </div>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="room">
                    <div class="modal-body">
                        <form class="form-horizontal" id="user_form">
                            <div class="form-group">
                                <label for="new_loginName" class="col-sm-2 control-label">账号</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="new_loginName" placeholder="账号"
                                           name="loginName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="new_loginPwd" class="col-sm-2 control-label">密码</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="new_loginPwd" placeholder="密码"
                                           name="loginPwd">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="login_code" class="col-sm-2 control-label">验证码</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="login_code" placeholder="验证码"
                                           name="code">
                                </div>
                                <div class="col-sm-6 code" style="float: right">
                                    <img th:src="@{/getJuifyCode}" id="safeCode" alt="验证码"/><a
                                        href="javascript:reloadCode()">看不清换一张</a><br>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-success" id="loginSubmit">登录</button>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="tab">
                    <div class="modal-body">
                        <form class="form-horizontal" id="register_user_form">
                            <div class="form-group">
                                <label for="register_loginName" class="col-sm-2 control-label">账号</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="register_loginName" placeholder="账号"
                                           name="username">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="register_loginPwd" class="col-sm-2 control-label">密码</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="register_loginPwd" placeholder="密码"
                                           name="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="register_email" class="col-sm-2 control-label">方向</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="studyDirection">
                                        <option value="软件">软件</option>
                                        <option value="运动">运动</option>
                                        <option value="音乐">音乐</option>
                                        <option value="教育">教育</option>
                                        <option value="金融">金融</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="optionsRadios3" class="col-sm-2 control-label">性别</label>
                                <div class="col-sm-2">
                                    <input type="radio" name="sex" id="optionsRadios3" value="男"
                                           checked> <label for="optionsRadios3" class="control-label">男</label>
                                </div>
                                <div class="col-sm-2">
                                    <input type="radio" name="sex" id="optionsRadios4" value="女"
                                           checked> <label for="optionsRadios4" class="control-label">女</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="register_email" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="register_email" placeholder="Email"
                                           name="email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="register_telephone" class="col-sm-2 control-label">电话</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="register_telephone" placeholder="电话"
                                           name="phone">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-success" id="RegSubmit">注册</button>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<!--登录提示消息-->
<div class="modal fade" id="logInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel1">登录提示</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="new_avatar_form">
                    <div class="form-group">
                        <div class="col-sm-8">
                            <!--                            <input type="text" class="form-control" id="login_info" placeholder="电话"-->
                            <!--                                   name="login_info" readonly>-->
                            <p id="login_info"></p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default modal_close" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-default modal_modify" onclick="oneMore()">登陆</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<!--注册提示消息-->
<div class="modal fade" id="regInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel11" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel11">注册提示</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-8">
                            <!--                            <input type="text" class="form-control" id="reg_info" placeholder="电话"-->
                            <!--                                   name="reg_info" readonly>-->
                            <p id="reg_info"></p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default modal_close" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-default modal_modify" onclick="oneMoreReg()">重新注册</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!--注册成功消息-->
<div class="modal fade" id="regSuccessInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel111"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel111">注册提示</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-8">
                            <!--                            <input type="text" class="form-control" id="reg_success_info" placeholder="电话"-->
                            <!--                                   name="reg_success_info" readonly>-->
                            <p id="reg_success_info"></p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default modal_close" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-default modal_modify" onclick="gologin()">登录</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<!-- FOOTER -->
<footer id="footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-6">
                <div class="footer-info">
                    <div class="section-title">
                        <h2>Headquarter</h2>
                    </div>
                    <address>
                        <p>1800 dapibus a tortor pretium,<br> Integer nisl dui, ABC 12000</p>
                    </address>

                    <ul class="social-icon">
                        <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-instagram"></a></li>
                    </ul>

                    <div class="copyright-text">
                        <p>Copyright &copy; 2018.Company name All rights reserved.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="footer-info">
                    <div class="section-title">
                        <h2>Contact Info</h2>
                    </div>
                    <address>
                        <p>+65 2244 1100, +66 1800 1100</p>
                        <p><a href="mailto:youremail.com">hello@youremail.co</a></p>
                    </address>

                    <div class="footer_menu">
                        <h2>Quick Links</h2>
                        <ul>
                            <li><a href="#">Career</a></li>
                            <li><a href="#">Investor</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Refund Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="footer-info newsletter-form">
                    <div class="section-title">
                        <h2>Newsletter Signup</h2>
                    </div>
                    <div>
                        <div class="form-group">
                            <form action="#" method="get">
                                <input type="email" class="form-control" placeholder="Enter your email" name="email"
                                       id="email" required="">
                                <input type="submit" class="form-control" name="submit" id="form-submit_two"
                                       value="Send me">
                            </form>
                            <span><sup>*</sup> Please note - we do not spam your email.</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>

<script type="text/javascript" th:src="@{/static/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/owl.carousel.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/smoothscroll.js}"></script>
<script type="text/javascript" th:src="@{/static/js/custom.js}"></script>
<script type="text/javascript" th:src="@{/static/js/index.js}"></script>
<script th:inline="javascript">
    $(function () {
        var user = [[${session.user}]];
        $(".submit-btn").click(function () {
            if (user == null) {
                $("#login_info").text("请先登录");
                $("#logInfo").modal({
                    backdrop: "static"
                });
            }
        });
    })

</script>
</body>
</html>