<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon " type="image/x-icon" th:href="@{/static/images/png/favicon.ico}">
    <title>个人信息</title>
    <link rel="stylesheet" th:href="@{/static/css/list.css}">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{/static/css/owl.theme.default.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/myIndex.css}">
    <!-- MAIN CSS -->
    <link rel="stylesheet" th:href="@{/static/css/templatemo-style.css}">


    <!--    infocss-->
    <link th:href="@{/static/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/static/css/aos.css}" rel="stylesheet">
    <!--    <link th:href="@{/static/info/css/bootstrap.min.css}" rel="stylesheet">-->
    <link th:href="@{/static/css/main.css}" rel="stylesheet">
</head>
<body id="top">

<section class="navbar custom-navbar navbar-fixed-top" role="navigation">
    <div class="container">

        <div class="navbar-header">

            <!-- lOGO TEXT HERE -->
            <a th:href="@{/}" class="navbar-brand"><img th:src="@{/static/images/png/logoko.png}" width="80px"
                                                        alt=""></a>
        </div>

        <!-- MENU LINKS -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button onclick="exitUser()">退出
                    </button>
                </li>
                <li><span my-icon="cart01" id="cart" onclick="goCart()"></span></li>
            </ul>
        </div>

    </div>
</section>
<div class="page-content">
    <div id="info">
        <div class="profile-page">
            <div class="wrapper">
                <div class="page-header page-header-small" filter-color="green">
                    <div class="page-header-image" data-parallax="true"></div>
                    <div class="container">
                        <div class="content-center">
                            <div class="cc-profile-image"><a href="#"><img id="avatarImg"
                                                                           th:src="|/pic/avatar/${session.user.avatar}|"
                                                                           alt="Image"/></a>
                            </div>
                            <div id="username" class="h2 title username" th:text="${session.user.username}">Anthony
                                Barnett
                            </div>
                            <p class="category text-white" th:text="${session.user.studyDirection}">Web Developer,
                                Graphic Designer, Photographer</p>
                            <a class="btn btn-primary smooth-scroll mr-2 modify_button" data-toggle="model"
                               data-target="#ModifyModal">Chang Info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <form name="avatarUpload" method="post" enctype="multipart/form-data" id="avatarUpload">
            <input type="file" id="avatar" name="avatar"><br>
        </form>


        <div class="section" id="about">
            <div class="container">
                <div class="card" data-aos="fade-up" data-aos-offset="10">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="card-body">
                                <div class="h4 mt-0 title">About</div>
                                <p>你好! 我是 <span class="username"
                                                th:text="${session.user.username}">Anthony Barnett.</span> 我的专业是:<span
                                        th:text="${session.user.studyDirection}">Web Developer, Graphic Designer and Photographer.</span>
                                </p>
                                <p id="motto" th:text="${session.user.motto}">Creative CV is a HTML resume template for
                                    professionals. Built with Bootstrap 4, Now
                                    UI Kit and FontAwesome, this modern and responsive design template is perfect to
                                    showcase your portfolio, skills and experience. </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="card-body">
                                <div class="h4 mt-0 title">Basic Information</div>
                                <div class="row">
                                    <div class="col-sm-4"><strong class="text-uppercase">Age:</strong></div>
                                    <div class="col-sm-8" th:text="${session.user.age}" id="age">24</div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
                                    <div class="col-sm-8" th:text="${session.user.email}" id="email">
                                        anthony@company.com
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-sm-4"><strong class="text-uppercase">Phone:</strong></div>
                                    <div class="col-sm-8" th:text="${session.user.phone}" id="phone">+1718-111-0011
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-sm-4"><strong class="text-uppercase">Address:</strong></div>
                                    <div class="col-sm-8" th:text="${session.user.address}" id="address">140, City
                                        Center, New York,
                                        U.S.A
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-sm-4"><strong class="text-uppercase">Account:</strong></div>
                                    <div class="col-sm-2" th:text="'$'+${session.user.account}" id="account">$89</div>
                                    <a class="col-sm-6" th:href="@{/userAccountCharge}">充值</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--courses-->
<section id="courses">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <a th:href="@{/meant(id=0)}">
                        <button id="AllCourses"><span>全部课程</span></button>
                    </a>
                    <h2 th:if="${buys!=null}">My Courses
                        <small>Upgrade your skills with newest courses</small>
                    </h2>
                </div>


                <div class="owl-carousel owl-theme owl-courses">
                    <div class="col-md-4 col-sm-4" th:each="buy:${buys}">
                        <div class="item">
                            <div class="courses-thumb">
                                <div class="courses-top">
                                    <div class="courses-image">
                                        <!--                                        <img th:src="@{/static/images/courses-image1.jpg}" class="img-responsive" alt="">-->
                                        <img th:src="|/pic/course/${buy.courseDirection.courseDirection}/${buy.pic}|"
                                             class="img-responsive" alt="">
                                    </div>
                                    <div class="courses-date">
                                        <span><i class="fa fa-calendar"><span
                                                th:text="${buy.start_time}"> 12 / 7 / 2018</span></i></span>
                                        <span>   <i class="fa fa-clock-o"><span
                                                th:text="|${buy.time} Hours|"> 7 Hours</span></i></span>
                                        <span>  <i class="fa fa-heart-o"><span
                                                th:text="${buy.focus}"> 66</span></i></span>
                                    </div>
                                </div>

                                <div class="courses-detail">
                                    <h3><a th:href="@{/displayCourse(id=${buy.id})}" th:text="${buy.cname}">Social Media
                                        Management</a></h3>
                                    <p th:text="${buy.introduction}">Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit.</p>
                                </div>

                                <div class="courses-info" th:switch="${buy.isfress}">
                                    <div class="courses-author">
                                        <a th:href="@{/teacherInfo(id=${buy.teacher.id})}"> <img th:src="|/pic/avatar/${buy.teacher.avatar}|"
                                                                                                    class="img-responsive"
                                                                                                    alt=""></a>
                                        <span th:text="${buy.teacher.tname}">Mark Wilson</span>
                                    </div>

                                    <div class="courses-price" th:case="1">
                                        <a th:href="@{/displayCourse(id=${buy.id})}"><span
                                                th:text="'USD '+${buy.price}">USD 25</span></a>
                                    </div>

                                    <div class="courses-price free" th:case="0">
                                        <a th:href="@{/displayCourse(id=${buy.id})}"><span>Free</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--collect-->
<section id="collect">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2 th:if="${collects!=null}">My Collects
                        <small>Upgrade your skills with newest collects</small>
                    </h2>
                </div>


                <div class="owl-carousel owl-theme owl-courses">

                    <div class="col-md-4 col-sm-4" th:each="collect:${collects}" id="collectCourse">
                        <div class="item">
                            <div class="courses-thumb">
                                <div class="courses-top">
                                    <div class="courses-image">
                                        <!--                                        <img th:src="@{/static/images/courses-image1.jpg}" class="img-responsive" alt="">-->
                                        <img th:src="|/pic/course/${collect.courseDirection.courseDirection}/${collect.pic}|"
                                             class="img-responsive" alt="">
                                    </div>
                                    <div class="courses-date">
                                        <span><i class="fa fa-calendar"><span
                                                th:text="${collect.start_time}"> 12 / 7 / 2018</span></i></span>
                                        <span>   <i class="fa fa-clock-o"><span
                                                th:text="|${collect.time} Hours|"> 7 Hours</span></i></span>
                                        <span>  <i class="fa fa-heart-o"><span
                                                th:text="${collect.focus}"> 66</span></i></span>
                                    </div>
                                </div>

                                <div class="courses-detail">
                                    <h3 th:switch="${collect.isfress}">
                                        <a th:href="@{/displayCourse(id=${collect.id})}" th:case="0" th:text="${collect.cname}">Social
                                            Media Management</a>
                                        <a th:href="@{/shopCart(courseId=${collect.id})}" th:case="1" th:text="${collect.cname}">Social
                                            Media Management</a>
                                    </h3>
                                    <p th:text="${collect.introduction}">Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit.</p>
                                </div>

                                <div class="courses-info" th:switch="${collect.isfress}">
                                    <div class="courses-author">
                                        <a th:href="@{/teacherInfo(id=${collect.teacher.id})}"> <img th:src="|/pic/avatar/${collect.teacher.avatar}|"
                                                                                                    class="img-responsive"
                                                                                                    alt=""></a>
                                        <span th:text="${collect.teacher.tname}">Mark Wilson</span>
                                    </div>

                                    <div class="courses-price" th:case="1">
                                        <a th:href="@{/shopCart(courseId=${collect.id})}"><span
                                                th:text="'$ '+${collect.price}">USD 25</span></a>
<!--                                        <span class="deleteCollect" th:name="${collect.id}">delete</span>-->
                                    </div>

                                    <div class="courses-price free" th:case="0">
                                        <a th:href="@{/displayCourse(id=${collect.id})}"><span>Free</span></a>
<!--                                        <span class="deleteCollect" th:name="${collect.id}">delete</span>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--修改信息模态框-->
<div class="modal fade" id="ModifyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel1">修改信息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="edit_user_Email">
                    <div class="form-group">
                        <label for="new_username" class="col-sm-2 control-label">用户名</label>
                        <div class="col-sm-8">
                            <input type="hidden" class="form-control" id="new_id" placeholder="用户id"
                                   name="id" th:value="${session.user.id}" hidden>
                            <input type="text" class="form-control" id="new_username" placeholder="用户名"
                                   name="username" th:value="${session.user.username}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="new_password" class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="new_password" placeholder="密码"
                                   name="password" th:value="${session.user.password}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="new_age" class="col-sm-2 control-label">年龄</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="new_age" placeholder="年龄"
                                   name="age" th:value="${session.user.age}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="new_email" class="col-sm-2 control-label">email</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="new_email"
                                   placeholder="email" name="email" th:value="${session.user.email}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="new_telephone" class="col-sm-2 control-label">联系方式</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="new_telephone" placeholder="联系方式"
                                   name="phone" th:value="${session.user.phone}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="new_address" class="col-sm-2 control-label">住址</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="new_address" placeholder="联系方式"
                                   name="address" th:value="${session.user.address}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="new_money" class="col-sm-2 control-label">账户余额</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="new_money" placeholder="账户余额" name="account"
                                   readonly th:value="${session.user.account}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="new_motto" class="col-sm-2 control-label">座右铭</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="new_motto" placeholder="座右铭" name="motto"
                                   size="10" style="height: 60px" th:value="${session.user.motto}">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default modal_close" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-default modal_modify" onclick="modify()">修改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<!--修改头像-->
<div class="modal fade" id="avatarModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">确认是否修改头像</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="new_avatar_form">
                    <div class="form-group">
                        <div class="col-sm-12 cc-profile-image my-pic">
                            <img src="" alt="" class="img" width="100%">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default modal_close" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-default modal_modify" onclick="avatar()">确认修改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<!--修改失败信息提示-->
<div class="modal fade" id="modifyInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel111"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel111">修改提示</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-8">
                            <p id="modify_info"></p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default modal_close" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-default modal_modify" onclick="oneMore()">修改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<div class="modal fade" id="modifyInfo_success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel11"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel11">修改提示</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-8">
                            <p id="modify_info_success"></p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default modal_close" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- FOOTER -->
<footer id="footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-6">
                <div class="footer-info">
                    <div class="section-title">
                        <h2>Headquarter</h2>
                    </div>
                    <address>
                        <p>1800 dapibus a tortor pretium,<br> Integer nisl dui, ABC 12000</p>
                    </address>

                    <ul class="social-icon">
                        <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-instagram"></a></li>
                    </ul>

                    <div class="copyright-text">
                        <p>Copyright &copy; 2018.Company name All rights reserved.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="footer-info">
                    <div class="section-title">
                        <h2>Contact Info</h2>
                    </div>
                    <address>
                        <p>+65 2244 1100, +66 1800 1100</p>
                        <p><a href="mailto:youremail.com">hello@youremail.co</a></p>
                    </address>

                    <div class="footer_menu">
                        <h2>Quick Links</h2>
                        <ul>
                            <li><a href="#">Career</a></li>
                            <li><a href="#">Investor</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Refund Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="footer-info newsletter-form">
                    <div class="section-title">
                        <h2>Newsletter Signup</h2>
                    </div>
                    <div>
                        <div class="form-group">
                            <form action="#" method="get">
                                <input type="email" class="form-control" placeholder="Enter your email" name="email"
                                       id="email2" required="">
                                <input type="submit" class="form-control" name="submit" id="form-submit_two"
                                       value="Send me">
                            </form>
                            <span><sup>*</sup> Please note - we do not spam your email.</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>

<script type="text/javascript" th:src="@{/static/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/owl.carousel.min.js}"></script>
<!--<script th:src="@{/static/js/smoothscroll.js}"></script>-->
<script type="text/javascript" th:src="@{/static/js/custom.js}"></script>
<!--<script th:src="@{/static/js/now-ui-kit.js}"></script>-->
<script type="text/javascript" th:src="@{/static/js/aos.js}"></script>
<script type="text/javascript" th:src="@{/static/js/main.js}"></script>
<!--<script th:src="@{/static/js/popper.min.js}"></script>-->
<script type="text/javascript" th:src="@{/static/js/info.js}"></script>
</body>
</html>