<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>teacher</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta property="qc:admins" content="77103107776157736375">
    <meta property="wb:webmaster" content="c4f857219bfae3cb">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta http-equiv="Cache-Control" content="no-transform ">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="keywords" content="HTML/CSS,JavaScript,基础语法,HTML DOM对象,jQuery,WebApp,前端工具,Bootstrap">
    <meta name="description"
          content="资深UI 前端 架构，互联网行业折腾10余年，前后端开发、敏捷过程、项目管理经验丰富，负责过多个产品和技术团队，一直奋斗在Full Stack的道路上，爱技术，爱创业，爱一切新事物，玩过乐队，喜欢折腾！">

    <link rel="stylesheet" th:href="@{/static/css/teacherinfo01.css}">
    <link rel="stylesheet" th:href="@{/static/css/teacherinfo02.css}">
    <link rel="stylesheet" th:href="@{/static/css/teacher-less.css}">

    <!--导航栏css-->
    <link rel="stylesheet" th:href="@{/static/css/templatemo-style.css}">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.css}">

</head>

<body>
<!-- 窄条导航 -->
<section class="navbar custom-navbar navbar-fixed-top" role="navigation" id="title">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>


            <!-- lOGO TEXT HERE -->
            <a th:href="@{/}" class="navbar-brand"><img th:src="@{/static/images/png/logoko.png}" width="80px"
                                                        alt=""></a>
        </div>

        <!-- MENU LINKS -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.user}==null"><a th:href="@{/userInfo}"><img src="/pic/avatar/unlogin.jpg"
                                                                                 class="img-circle avatar"
                                                                                 width="38px" height="38px"></a>
                </li>

                <li id="cover" th:if="${session.user}!=null"><a th:href="@{/userInfo}"><img
                        th:src="|/pic/avatar/${session.user.avatar}|"
                        class="img-circle avatar"
                        width="38px" height="38px" style="object-fit: cover"></a>
                </li>
            </ul>
        </div>

    </div>
</section>

<!--主页-->
<div id="main">
    <div class="big-wrap">
        <div class="top-box">
            <div class="top-bg-mask">
                <div class="top-content-wrap">
                    <div class="clearfix">
                        <div class="share-box r">

                        </div>
                    </div>
                    <div class="teacher-box">
                        <img class="tea-header" th:src="|/pic/avatar/${teacher.avatar}|" alt="">
                        <div class="tea-title">
                            <p>Known网官方认证</p>
                            <h3 id="teacher">精英讲师</h3>
                        </div>
                        <p class="tea-nickname" th:text="${teacher.tname}">刘梦昊_Haoge</p>
                        <p class="tea-professional" th:text="${teacher.major.courseDirection}">Web前端工程师</p>
                        <a
                                class="moco-btn payattention-btn js-payattention-btn js-add-attention" data-id="102093"
                                id="focus" th:name="${teacher.id}" th:if="${focus==0}">
                            关注Ta
                        </a>
                        <a
                                class="moco-btn payattention-btn js-payattention-btn js-add-attention" data-id="102093"
                                id="focus" th:name="${teacher.id}" th:if="${focus!=0}">
                            已关注
                        </a>
                        <p class="tea-desc" th:text="${teacher.introduction}">资深UI 前端
                            架构，互联网行业折腾10余年，前后端开发、敏捷过程、项目管理经验丰富，负责过多个产品和技术团队，一直奋斗在Full
                            Stack的道路上，爱技术，爱创业，爱一切新事物，玩过乐队，喜欢折腾！</p>
                        <div class="tea-detail-box">
                            <ul class="clearfix">
                                <li>
                                    <p class="num" th:text="${pays.size()}">1</p>
                                    <p class="text" id="goWar">实战</p>
                                </li>
                                <li>
                                    <p class="num" th:text="${frees.size()}">9</p>
                                    <p class="text" id="goCourse">课程</p>
                                </li>
                                <li>
                                    <p class="num" id="js-tea-fan-num" th:text="${teacher.focus}">3460</p>
                                    <p class="text">粉丝</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-trangle"></div>
        </div>
        <div class="bottom-box">
            <div class="shizhan-box">
                <h2 id="Shizhan" th:if="${pays.size()!=0}">实战</h2>
                <p class="cato-desc" th:if="${pays.size()!=0}">上进唯实战可得，突破绝技成长瓶颈</p>
                <div class="shizhan-del-box">
                    <ul>
                        <li class="course01" th:each="pay:${pays}"
                            th:style="|background:url(/pic/course/${pay.courseDirection.courseDirection}/${pay.pic});|">
                            <div class="shizhan-mask">
                                <a th:href="@{/shopCart(courseId=${pay.id})}">
                                    <p class="shizhan-title" title="响应式开发一招致胜" th:text="${pay.cname}">响应式开发一招致胜</p>
                                    <p class="shizhan-desc" th:text="${pay.introduction}">
                                        用一套代码开发出不受设备型号、尺寸限制的互联网金融网站</p>
                                    <div class="bottom-box clearfix">
                                        <p class="shizhan-price l" th:text="'$ '+${pay.price}">￥128.00</p>
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="course-box">
                <h2 id="Course" th:if="${frees.size()!=0}">课程</h2>
                <p class="cato-desc" th:if="${frees.size()!=0}">精品课程应有尽有，快速入门助力成长</p>
                <div class="course-del-box">
                    <ul>
                        <li class="moco-course-wrap" th:each="free:${frees}">
                            <a th:href="@{/displayCourse(id=${free.id})}">
                                <div class="moco-course-box">
                                    <img alt="测试克隆慕课网"
                                         th:src="|/pic/course/${free.courseDirection.courseDirection}/${free.pic}|"
                                         height="124" width="100%">
                                    <div class="moco-course-intro">
                                        <h3>
                                            <i th:text="${free.degree}">中级</i>
                                            <span th:text="${free.cname}"></span></h3>
                                        <p th:text="${free.introduction}">fullPage.js 是一个基于 jQuery
                                            的插件，它能够很方便、很轻松的制作出全屏网站。如今我们经常能见到全屏网站，在手机上也经常能看到一些活动页面。这些网站用几幅很大的图片或色块做背景，再添加一些简单的内容，通过滚动或者滑动来翻页，显得格外的高端大气上档次。</p>
                                    </div>
                                    <div class="moco-course-bottom"><span class="l"
                                                                          th:text="${free.focus}+'人在学'"> 44600人在学</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="footer" data="t,index">
    <div class="waper">
        <div class="footerwaper clearfix">
            <div class="followus r">
                <a class="followus-weixin" href="javascript:;" target="_blank" title="微信">
                    <div class="flw-weixin-box"></div>
                </a>
                <a class="followus-weibo" href="" title="新浪微博"></a>
                <a class="followus-qzone" href="" title="QQ空间"></a>
            </div>
            <div class="footer_intro l">
                <div class="footer_link">
                    <ul>
                        <li><a href="index.html">网站首页</a></li>
                        <li><a href="" title="企业合作">企业合作</a></li>
                        <li><a href="">人才招聘</a></li>
                        <li><a href="">联系我们</a></li>
                        <li><a href="">讲师招募</a></li>
                        <li><a href="">帮助中心</a></li>
                        <li><a href="">意见反馈</a></li>
                        <li><a href="">友情链接</a></li>
                        <li><a href="">合作专区</a></li>
                        <li><a href="">关于我们</a></li>
                    </ul>
                </div>
                <p>Copyright © 2019 known.com All Rights Reserved | 京ICP备 12003892号-11 北京Known在线教育有限公司</p>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="teacherModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">关注提示</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="new_avatar_form">
                    <div class="form-group">
                        <div class="col-sm-12 cc-profile-image my-pic" id="replay">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default modal_close" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
</body>
<script th:src="@{/static/js/jquery.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/teacherInfo.js}"></script>
</html>