<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--[if lt IE 9]>
    <![endif]-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/h-ui/css/H-ui.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/h-ui.admin/css/H-ui.admin.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/lib/Hui-iconfont/1.0.8/iconfont.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/h-ui.admin/skin/default/skin.css}" id="skin"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/h-ui.admin/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/admin/course.css}"/>
    <!--[if IE 6]>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>图片列表</title>
    <style>
#uploadfile{
    margin-left: 15px;
}
#uploadfile2{
     margin-left: 15px;
 }
.form-control {
    border-radius: 16px;
}
    </style>
</head>
<body>
<iframe id="id_iframe" name="nm_iframe" style="display:none;"></iframe>
<div class="modal fade" id="videoModifyModel1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modifyUser">视频修改</h4>
            </div>
            <div class="modal-body">
                                    <form class="form-horizontal" id="videoEdit" target="nm_iframe" onsubmit="editVideo()" enctype="multipart/form-data" method="post">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">id</label>
                                            <div class="col-sm-9">
                                                <input type="text" name="id" class="form-control" id="id_modify_input"
                                                       placeholder="id" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                        <label class="col-sm-3 control-label">courseId</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="courseId_modify_input"
                                                   placeholder="courseId" readonly>
                                        </div>
                                    </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">chapterId</label>
                                            <div class="col-sm-9">
                                                <input type="text" name="chapterid" class="form-control" id="chapterId_modify_input"
                                                       placeholder="courseId" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">视频内容名称</label>
                                            <div class="col-sm-9">
                                                <input type="text"  name="videoName" class="form-control" id="videoName_modify_input"
                                                       placeholder="视频文件名" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">视频文件名</label>
                                            <div class="col-sm-9">
                                                <input type="text"  name="path" class="form-control" id="videoFile_modify_input"
                                                       placeholder="视频文件名" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label col-xs-4 col-sm-3">视频替换：</label>
                                            <div class="formControls col-xs-8 col-sm-9"> <span class="btn-upload form-group">
				<input class="input-text upload-url" type="text" name="uploadfile" id="uploadfile" readonly
                       nullmsg="需要替换视频请选择！" style="width:200px">
				<a href="javascript:void(0);" class="btn btn-primary radius upload-btn"><i
                        class="Hui-iconfont">&#xe642;</i> 浏览文件</a>
				<input type="file" name="file-2" class="input-file">
				</span></div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                            <button type="submit" class="btn btn-primary" id="video_modify_btn">修改</button>
                                        </div>
                                    </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="videoAddModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">视频添加</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="videoAdd" target="nm_iframe" onsubmit="addVideo()" enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">视频内容名称</label>
                        <div class="col-sm-9">
                            <input type="text" name="videoName" class="form-control" id="videoName_add_input"
                                   placeholder="填写视频名" required>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label col-xs-4 col-sm-3">视频上传：</label>
                        <div class="formControls col-xs-8 col-sm-9"> <span class="btn-upload form-group">
				<input class="input-text upload-url" type="text" name="uploadfile" id="uploadfile2" readonly
                       nullmsg="需要替换视频请选择！" style="width:200px">
				<a href="javascript:void(0);" class="btn btn-primary radius upload-btn"><i
                        class="Hui-iconfont">&#xe642;</i> 浏览文件</a>
				<input type="file" name="file-2" class="input-file" required>
				</span></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary" id="chapter_save_btn">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 课程管理 <span
        class="c-gray en">&gt;</span> 章节列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
                                              href="javascript:location.replace(location.href);" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="text-c"> 日期范围：
        <input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}' })" id="logmin"
               class="input-text Wdate" style="width:120px;">
        -
        <input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d' })" id="logmax"
               class="input-text Wdate" style="width:120px;">
        <input type="text" placeholder=" 图片名称" style="width:250px" class="input-text">
        <button name="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜图片</button>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20"><span class="l"><a href="javascript:;"
                                                               class="btn btn-danger radius"><i
            class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
        <a class="btn btn-primary radius" id="addChapter"><i
                class="Hui-iconfont">&#xe600;</i> 添加视频</a></span>
    </div>
    <div class="mt-20">
        <table id="user_table" rules="rows">
            <thead>
            <tr>
                <th width="4%">
                </th>
                <th width="4%">#</th>
                <th width="12%">头像</th>
                <th width="6%">名称</th>
                <th width="4%">关注</th>
                <th width="6%">方向</th>
                <th width="12%">介绍</th>
                <th width="12%">操作</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <!-- 显示分页信息 -->
    <div class="row">
        <!--分页文字信息  -->
        <div class="col-md-6" id="page_info_area"></div>
        <!-- 分页条信息 -->
        <div class="col-md-6" id="page_nav_area">
        </div>
    </div>
</div>




</body>
<script type="text/javascript" th:src="@{/static/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/admin/teacher.js}"></script>
<script type="text/javascript" th:src="@{/static/js/lib/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/static/h-ui/js/H-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/static/h-ui.admin/js/H-ui.admin.js}"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{/static/js/lib/jquery.contextmenu/jquery.contextmenu.r2.js}"></script>
</html>