<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.TeacherMapper">
    <resultMap id="BaseResultMap" type="entity.Teacher">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="tname" property="tname" jdbcType="VARCHAR"/>
        <result column="introduction" property="introduction" jdbcType="VARCHAR"/>
        <result column="teacher_status" property="teacherStatus" jdbcType="INTEGER"/>
        <result column="focus" property="focus" jdbcType="INTEGER"/>
        <result column="avatar" property="avatar" jdbcType="VARCHAR"/>
        <association property="major" column="major" jdbcType="INTEGER" javaType="entity.CourseClass"
                     select="dao.CourseClassMapper.selectByPrimaryKey">
        </association>
        <collection property="courses" column="id" javaType="ArrayList" ofType="entity.Course"
                    select="dao.CourseMapper.selectByTid">
        </collection>
    </resultMap>


    <resultMap id="BaseResultMap2" type="entity.Teacher">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="tname" property="tname" jdbcType="VARCHAR"/>
        <result column="introduction" property="introduction" jdbcType="VARCHAR"/>
        <result column="teacher_status" property="teacherStatus" jdbcType="INTEGER"/>
        <result column="focus" property="focus" jdbcType="INTEGER"/>
        <result column="avatar" property="avatar" jdbcType="VARCHAR"/>
        <association property="major" column="major" javaType="entity.CourseClass"
                     select="dao.CourseClassMapper.selectByPrimaryKey"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from teacher
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="entity.Teacher">
        insert into teacher (id, tname, major,
                             introduction, teacher_status, avatar)
        values (#{id}, #{tname}, ${major.id},
                #{introduction}, #{teacherStatus}, #{avatar})
    </insert>
    <update id="updateByPrimaryKey" parameterType="entity.Teacher">
        update teacher
        set tname          = #{tname,jdbcType=VARCHAR},
            major          =${major.id},
            introduction   = #{introduction,jdbcType=VARCHAR},
            teacher_status = #{teacherStatus,jdbcType=INTEGER},
            avatar         = #{avatar,jdbcType=VARCHAR},
            focus          =#{focus}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap2" parameterType="java.lang.Integer">
        select id, tname, major, introduction, teacher_status, avatar, focus
        from teacher
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id, tname, major, introduction, teacher_status, avatar, focus
        from teacher
    </select>

    <select id="selectTeacherIndex" resultMap="BaseResultMap">
        select *
        from teacher
        where teacher_status = 1
        limit 4;
    </select>

    <select id="selectTeacherIndex2" resultMap="BaseResultMap">
        select *
        from teacher
    </select>

    <select id="selectTeacherByDirection" parameterType="entity.Teacher" resultMap="BaseResultMap">
        select *
        from teacher
        <trim prefix="where" prefixOverrides="and | or">
            <if test="major.id !=0">
                major=${major.id}
            </if>
        </trim>
    </select>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select id, tname, major, introduction, teacher_status, avatar, focus
        from teacher
        where id = #{id,jdbcType=INTEGER}
    </select>

    <insert id="addFocusTeacher">
        insert into user_teacher
        values (#{uid}, #{tid})
    </insert>

    <delete id="delFocusTeacher">
        delete
        from user_teacher
        where uid = #{uid}
          and tid = #{tid}
    </delete>

    <select id="selectConnectionInUserAndTeachaer" resultType="int">
        select count(*)
        from user_teacher
        where uid = #{uid}
          and tid = #{tid}
    </select>

    <update id="addTeacherFocus">
        update teacher
        set focus=focus + 1
        where id = #{tid}
    </update>
    <update id="delTeacherFocus">
        update teacher
        set focus=focus - 1
        where id = #{tid}
    </update>
</mapper>