table {
    text-align: center;
}

table td {
    height: 120px;
}

.check_item {
    position: relative;
    top: -2px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: #000;
}

form input{
    border-radius: 10px;
}